{{set . "title" "sudoba.sh - Home"}}
{{append . "externalScripts" .mapsApiKey}}
{{append . "moreScripts" "js/maps.js"}}
{{append . "moreStyles" "css/maps.css"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="span6">
			{{template "flash.html" .}}
		</div>
	</div>
</div>

<form action="{{url "Whois.Index"}}" id="whoisForm">
	<input type="text" name="ip" placeholder="IP Address">
	<input type="submit" value="Lookup">
</form>

<div id="map-canvas"></div>

{{template "footer.html" .}}
